.ml-auto.py-4
  h3 What is a bBot?
  p The name <strong>bBot</strong> is intentionally generic. It will humbly stand in the shadows of new identities chosen for it by creators.
  p It's just a handy prefix for succinct code, with two main interfaces of <strong>b</strong> for current state and <strong>bot</strong> for the core instance.
  p What a modest and helpful little droid. Bleep Bloop.
