section#intro
  .hero.position-relative.overflow-hidden.clearfix.text-light
    .container
      .row.pb-5
        .col-md-6
            .big 👋
            h3.mt-1 Converse Anywhere
            p bBot can model and execute conversation integrated with your preferred messaging, NLU, and data storage providers.
            p Meet your audience wherever they live with conversational experiences that deliver services, tell stories, drive interaction.
        .col-md-6
            .big 💪
            h3.mt-1 Be Independent
            p As open source, self-hosted software under MIT licence, there's no registration, usage limits or platform dependencies.
            p Our focus is security and privacy. You keep full control of the conversation and user data with enterprise level audit trails.
section#quickstart
  .container.py-5
    h2.h-anchor#buildingwithbbot Building with bBot
    .row
      .col-md-4
        h3 #[include /img/code.svg] Alpha Release
        p bBot alpha is in active development.
        p We're streamlining our docs and developer tools for writing, deploying and interacting with bBot instances as a matter of priority.
        p For now, the quickest way to get started is to start a new local project, import bBot and start chatting in the command line.
      .col-md-8
        h3 #[include /img/play.svg] Quick Start
        .page-content.mb-4
          p 1. bBot is a #[a(href="npmjs.com/package/bbot") Node.js package], so it requires #[a(href="https://www.npmjs.com/get-npm") Node and NPM]
          p 2. Start a new project with #[code npm init]
          p 3. Install bBot as a dependency with #[code npm install --save bbot]
          p 4. Create an #[strong index.js] file as per example below
          p 5. Run the bot with #[code node index.js]
      .col-12
        h3 #[include /img/message.svg] Hello World
        p Create an #[b index.js] for a simple #[i hello] <whoever> chatbot...
        pre
          code.language-js
            | const bot = require('bbot')
            | 
            | bot.listenText(/say Hello World/, (b) => {
            |   b.respond(`Hello World!`)
            | })
            | 
            | bot.start()
        p Test interactions by chatting in your terminal...
        pre.code-container
          code.shell
            img(src="/img/hello-content.png" width="100%")
    hr
    a.btn.btn-secondary(href="/docs/core") See more docs
section#signup
  .container.py-5
    .row
      .col-md-6.mx-auto
        .big 🤗
        p
          span.highlight We're sharing new features and learning from our maker community. Get access to support and help all our bots achieve their potential.
        h3 Request an invite 
        != partial("_partials/signup")
//- section#demo
//-   .container.py-5
//-     .row
//-       .col-md-8
//-         | video embed
//-       .col-md-4
//-         h2 #[a(name="demo")] Chatbot Demo
//-         p Amazebot's founder Tim Kinnane builds a quirky sentiment analysis chatbot in under 10 minutes.
//-         p We hope this encourages participation in the project, but the example should not be taken as its final form, nor its full capacity.
section#adapters
  .container.py-5
    h2 Adapters
    .row
      .col-md-4
        h3 #[include /img/code.svg] Supported in Alpha
        img.m-2(width="100px" height="auto" src="/img/adapters/rocketchat.png")
        img.m-2(width="100px" height="auto" src="/img/adapters/mongo.png")
      .col-md-8
        h3 #[include /img/map.svg] Planned for Release
        img.m-2(width="100px" height="auto" alt="Slack" src="/img/adapters/slack.png")
        img.m-2(width="100px" height="auto" alt="Google Hangouts" src="/img/adapters/hangouts.png")
        img.m-2(width="100px" height="auto" alt="Discord" src="/img/adapters/discord.png")
        img.m-2(width="100px" height="auto" alt="Messenger" src="/img/adapters/messenger.png")
        img.m-2(width="100px" height="auto" alt="Telegram" src="/img/adapters/telegram.png")
        img.m-2(width="100px" height="auto" alt="Kik" src="/img/adapters/kik.png")
        img.m-2(width="100px" height="auto" alt="IBM Watson" src="/img/adapters/watson.png")
        img.m-2(width="100px" height="auto" alt="Rasa.ai" src="/img/adapters/rasa.png")
        img.m-2(width="100px" height="auto" alt="Google Cloud" src="/img/adapters/google-cloud.png")
        img.m-2(width="100px" height="auto" alt="Redis" src="/img/adapters/redis.png")
        img.m-2(width="100px" height="auto" alt="Zapier" src="/img/adapters/zapier.png")
        img.m-2(width="100px" height="auto" alt="StackStorm" src="/img/adapters/stack-storm.png")
        //- img.m-2(width="100px" height="auto" alt="Signal" src="/img/adapters/signal.png")
        //- img.m-2(width="100px" height="auto" alt="Mozilla Speech API" src="/img/adapters/mozilla.png")
        //- img.m-2(width="100px" height="auto" alt="Bing Speech API" src="/img/adapters/bing-speech.png")
        //- img.m-2(width="100px" height="auto" alt="Chatbase" src="/img/adapters/chatbase.png")
        //- img.m-2(width="100px" height="auto" alt="Dialogflow" src="/img/adapters/dialogflow.png")
        //- img.m-2(width="100px" height="auto" alt="Recast" src="/img/adapters/recast.png")
        //- img.m-2(width="100px" height="auto" alt="Comprehend" src="/img/adapters/comprehend.png")
        //- img.m-2(width="100px" height="auto" alt="Twitter" src="/img/adapters/twitter.png")
        //- img.m-2(width="100px" height="auto" alt="Wit.ai" src="/img/adapters/wit.ai.png")
section#sponsors
  .container.py-5
    h2 Our Sponsors
    .row
      .col-md-6
        h3
          | #[include /img/rocket.svg] 
          | bBot for #[a(href="rocket.chat") Rocket.Chat]
        p
          | Rocket.Chat is our official sponsor. 
          | We've worked with their community since the beginning and benefited 
          | from their open and collaborative approach. Though bBot is committed to 
          | remaining platform independent, developers working with Rocket.Chat will
          | probably encounter the most frictionless experience.
      .col-md-6
        h3
          | #[include /img/heart.svg] 
          | Become a sponsor
        p
          | We're an open source project committed to providing the best quality product
          | for our community. We've got a vision to fund growth through support and
          | bespoke solutions for enterprise users. First we need to resource our core
          | offering by partnering with select sponsors. Be part of the future of conversation.
        p.text-right
          a(href="mailto:hello@amazebot.chat").btn.btn-secondary Get in touch

//- - Package
//-   - Repo (GitHub)
//-   - Readme (NPM)
//-   - Tests
//-   - Build & Coverage
//-   - Dependencies

//- - Prototype on Glitch with Rocket.Chat
//-   - Remix project
//-   - Create user on playground.rocket.chat
//-   - Create bot account
//-   - Configure Glitch env
//-   - Talk to your bot
