footer.text-light
  .p-5.mx-auto
    include /img/device-chat.svg
    a(href="https://twitter.com/amazebot_chat") @amazebot_chat
    br
    include /img/email.svg
    a(href="mailto:hello@amazebot.chat") hello@amazebot.chat
    br
    include /img/website.svg
    a(href="https://amazebot.chat") amazebot.chat