#mc_embed_signup
  form(action="https://chat.us18.list-manage.com/subscribe/post?u=a8465bdb80feb5ee54d27eb1c&amp;id=040bc81e77" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
    #mc_embed_signup_scroll
    .input-group
      input.form-control(type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required)
      .input-group-append
        input.btn.btn-outline-primary(type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe")
    div(style="position: absolute; left: -5000px;" aria-hidden="true")
      input(type="text" name="b_a8465bdb80feb5ee54d27eb1c_040bc81e77" tabindex="-1" value="")